<p id="notice"><%= notice %></p>

<h1>Employees</h1>
<% @role = current_user_role %>
<% if @role == "admin" %>
  <%= link_to 'New Employee', new_employee_path, :style => "position:absolute; TOP:23px; LEFT:700px; ", :class => "btn btn-info"%>
<% end %>

<table class="table table-striped" style="font-size:60%;">
  <thead>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>SSN</th>
        <th>Date of Birth</th>
        <th>phone</th>
        <th>role</th>
        <th>active</th>
        <th>email</th>
        <th></th>
        <% if @role == "admin" %>
        <th></th>
        <th></th>
        <% end %>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= employee.first_name %></td>
        <td><%= employee.last_name %></td>
        <td><%= employee.ssn %></td>
        <td><%= employee.date_of_birth %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.role %></td>
        <td><%= employee.active %></td>
        <td><% if employee.user.present? %> 
                 <%= employee.user.email %>
            <% end %></td>
        <td><%= link_to 'Show', employee %></td>
        <% if @role == "admin" %>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Delete', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @employees.length == 0 %>
  <p> No employee created yet!</p>
<% end %>
<br>
