<p id="notice"><%= notice %></p>

<h1>Flavors</h1>
<% @role = current_user_role %>
<% if @role == "admin" %>
<%= link_to 'New Flavor', new_flavor_path , :style => "position:absolute; TOP:23px; LEFT:700px; ", :class => "btn btn-info"%>
<%end%>
<div class="dropdown">
    <button class="dropbtn">filters</button>
    <div class="dropdown-content">
      <a href="<%= flavors_path(:active => true) %>">Active</a>
      <a href="<%= flavors_path(:inactive => true) %>">Inactive</a>
      <a href="<%= flavors_path(:alphabetical => true) %>">Alphabetical</a>
    </div>
  </div>
<table class="table table-striped" style="font-size:60%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flavors.each do |flavor| %>
      <tr>
        <td><%= flavor.id %></td>
        <td><%= flavor.name %></td>
        <td><%= flavor.active %></td>
        <td><%= link_to 'Show', flavor %></td>
        <% if @role == "admin" %>
        <td><%= link_to 'Edit', edit_flavor_path(flavor) %></td>
        <td><%= link_to 'Destroy', flavor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @flavors.length == 0 %>
  <p> No flavors created yet!</p>
<% end %>
<br>


