<br>
<br>
<div style = "position:absolute; LEFT:300px;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @flavor.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @flavor.active %>
</p>
<% @role = current_user_role %>
<% if @role == "admin" %>
<%= link_to 'Edit', edit_flavor_path(@flavor), :class => "btn btn-info"  %> 
<% end %>
<%= link_to 'Back', flavors_path, :class => "btn btn-info"  %>

</div>