<p id="notice"><%= notice %></p>

<h1>Jobs</h1>
<% @role = current_user_role %>
<% if @role == "admin" %>
<%= link_to 'New Job', new_job_path, :style => "position:absolute; TOP:23px; LEFT:700px; ", :class => "btn btn-info"%>
<% end %>
<div class="dropdown">
    <button class="dropbtn">filters</button>
    <div class="dropdown-content">
      <a href="<%= jobs_path(:active => true) %>">Active</a>
      <a href="<%= jobs_path(:inactive => true) %>">Inactive</a>
      <a href="<%= jobs_path(:alphabetical => true) %>">Alphabetical</a>
    </div>
  </div>
<table class="table table-striped" style="font-size:60%;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Active</th>
      <th></th>
      <% if @role == "admin" %>
      <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.id %></td>
        <td><%= job.name %></td>
        <td><%= job.description %></td>
        <td><%= job.active %></td>
        <td><%= link_to 'Show', job %></td>
        <% if @role == "admin" %>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @jobs.length == 0 %>
  <p> No jobs created yet!</p>
<% end %>
<br>


