<br>
<br>
<div style = "position:absolute; LEFT:300px;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @job.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @job.active %>
</p>

<%= link_to 'Edit', edit_job_path(@job), :class => "btn btn-info"  %> 
<%= link_to 'Back', jobs_path, :class => "btn btn-info"  %>

</div>
