
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

  <a class="dropbtn hm" href="<%= home_path%>">Home</a>
              
  <div class="dropdown">
    <button class="dropbtn">Employees</button>
    <div class="dropdown-content">
      <a href="<%= employees_path%>">List Employees</a>
      <a href="<%=new_employee_path%>">New Employee</a>
    </div>
  </div>
  
  <div class="dropdown">
    <button class="dropbtn">Stores</button>
    <div class="dropdown-content">
      <a href="<%= stores_path%>">List Stores</a>
      <a href="<%=new_store_path%>">New Store</a>
    </div>
  </div>            


              
  <div class="dropdown">
    <button class="dropbtn">Assignments</button>
    <div class="dropdown-content">
      <a href="<%= assignments_path%>">List Assignments</a>
      <a href="<%=new_assignment_path%>">New Assignment</a>
    </div>
  </div>
          </nav>