
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav">

  <a class="dropbtn hm" href="<%= home_path%>">Home</a>
              
  <div class="dropdown">
    <button class="dropbtn">Employees</button>
    <div class="dropdown-content">
      <a href="<%= employees_path%>">List Employees</a>
      <% if @role == "admin" %>
        <a href="<%=new_employee_path%>">New Employee</a>
      <% end %>
    </div>
  </div>
  
  <div class="dropdown">
    <button class="dropbtn">Stores</button>
    <div class="dropdown-content">
      <a href="<%= stores_path%>">List Stores</a>
      <% if @role == "admin" %>
      <a href="<%=new_store_path%>">New Store</a>
      <% end %>
    </div>
  </div>            


              
  <div class="dropdown">
    <button class="dropbtn">Assignments</button>
    <div class="dropdown-content">
      <a href="<%= assignments_path%>">List Assignments</a>
      <% if @role == "admin" %>
      <a href="<%=new_assignment_path%>">New Assignment</a>
      <% end %>
    </div>
  </div>
  
  <div class="dropdown">
    <button class="dropbtn">Shifts</button>
    <div class="dropdown-content">
      <a href="<%= shifts_path%>">List Shifts</a>
      <% if @role == "admin" ||  @role == "manager" %>
      <a href="<%=new_shift_path%>">New Shift</a>
      <% end %>
    </div>
  </div>
  
  <div class="dropdown">
    <button class="dropbtn">Jobs</button>
    <div class="dropdown-content">
      <a href="<%= jobs_path%>">List Jobs</a>
      <a href="<%=new_job_path%>">New Job</a>
    </div>
  </div>
  
  <div class="dropdown">
    <button class="dropbtn">Shift Jobs</button>
    <div class="dropdown-content">
      <a href="<%= shiftjobs_path%>">List Shift Jobs</a>
      <a href="<%=new_shiftjob_path%>">New Shift Job</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Flavors</button>
    <div class="dropdown-content">
      <a href="<%= flavors_path%>">List Flavors</a>
      <a href="<%=new_flavor_path%>">New Flavor Job</a>
    </div>
  </div>
  
  <div class="dropdown">
    <button class="dropbtn">Store Flavors</button>
    <div class="dropdown-content">
      <a href="<%= storeflavors_path%>">List Store Flavors</a>
      <a href="<%=new_storeflavor_path%>">New Store Flavor</a>
    </div>
  </div>
</nav>