<%= form_with(model: shiftjob, local: true, :html => {:style =>"position:absolute; TOP:135px; LEFT:170px;font-size:160%;"}) do |form| %>
  <% if shiftjob.errors.any? %>
    <div class="col-md-6">
    <div id="error_explanation">
      <h2><%= pluralize(shiftjob.errors.count, "error") %> prohibited this shiftjob from being saved:</h2>

      <ul>
      <% shiftjob.errors.full_messages.each do |message| %>
        <li style="font-size:50%;color:red;"><%= message %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>

<%
    @role = current_user_role 
    if @role == "manager" && current_user.employee.current_assignment
      @shifts = Shift.for_store(current_user.employee.current_assignment.store_id)
      @shifts.each do |s|
        if s.assignment.employee.role != "employee"
          @shifts.delete(s)
        end
      end
    end
    if @role == "admin"
      @shifts = Shift.all
    end
    
    @jobs=Job.all
%>

<div class="col-md-6">
  <div class="field">
    <%= form.label :shift_id %>
    <%= form.collection_select(:shift_id, @shifts, :id, :id) %>
  </div>
      

  <div class="field">
    <%= form.label :job_id %>
    <%= form.collection_select(:job_id, @jobs, :id, :id) %>
  </div>

  <div class="actions">
    <%= form.submit "save", :class => 'btn btn-secondary'%>
  </div>
<% end %>
<br>
<br>
</div>