<p id="notice"><%= notice %></p>

<h1>Shift Jobs</h1>
<% 
@role = current_user_role
unless @role == "employee"
%>
<%= link_to 'New Shift Job', new_shiftjob_path, :style => "position:absolute; TOP:23px; LEFT:700px; ", :class => "btn btn-info"%>
<% end %>
<table class="table table-striped" style="font-size:60%;">
  <thead>
    <tr>
      <th>Shift</th>
      <th>Job id</th>
      <th>Job name</th>
      <th></th>
      <% unless @role == "employee" %>
      <% unless @role == "manager" %>
      <th></th>
      <%end%>
      
      <th></th>
      <%end%>
    </tr>
  </thead>

  <tbody>
    <% @shiftjobs.each do |shiftjob| %>
      <tr>
        <td><%= shiftjob.shift_id %></td>
        <td><%= shiftjob.job_id %></td>
        <td><%= shiftjob.job.name %></td>
        <td><%= link_to 'Show', shiftjob %></td>
        <% unless @role == "employee" %>
        <% unless @role == "manager" %>
        <td><%= link_to 'Edit', edit_shiftjob_path(shiftjob) %></td>
        <%end%>
        <td><%= link_to 'Destroy', shiftjob, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @shiftjobs.length == 0 %>
  <p> No shift jobs created yet!</p>
<% end %>
<br>

