<br>
<br>
<div style = "position:absolute; LEFT:300px;">
<p id="notice"><%= notice %></p>

<p>
  <strong>Shift:</strong>
  <%= @shiftjob.shift_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @shiftjob.job_id %>
</p>

<%= link_to 'Edit', edit_shiftjob_path(@shiftjob), :class => "btn btn-info"  %> 
<%= link_to 'Back', shiftjobs_path, :class => "btn btn-info"  %>

</div>